.header {
    height: $testRowHeight;
    line-height: $testRowHeight;
    background-color: #FF972A;
    font-weight: bold;
    font-size: 1.8rem;
    text-indent: 10px;
    .subject-year {
        display: inline;
    }
    .down-list-btn {
        float: right;
        height: 100%;
        background-color: #B86D1E;
        border-radius: 0;
        border: 0px;
        width: 50px;
        outline: none;
        text-align: center;
        span {
            color: white;
        }
    }
}
